{% extends 'layout.html' %}

{% block title %}
    World Lakes
{% endblock %}

{% block content %}

    <h2 class="mb-5">World Lakes Quiz</h2>
    
    {# Quiz form: displays multiple-choice questions dynamically from quiz_data #}
    <form class="quiz-form" method="post" action="{% url 'quiz:quiz_lakes' %}">
        {% csrf_token %}

        {% for q in quiz_data %}

            {# Single question block #}
            <div class="question-block mb-4">
                <h4> {{ forloop.counter }}. What country is <span class="quiz-lake-name">{{ q.name }}</span> located in?</h4>
        
                {% for option in q.options %}
                <label class="answer-container">
                    <input type="radio" name="{{q.id}}" value="{{ option }}">
                    <span class="checkmark"></span>
                    {{ option }}
                </label>
                {% endfor %}
            </div>
        {% endfor %}
        {% comment %} <button class="form-submit">Submit</button> {% endcomment %}
        <button 
            class="btn btn-success gtn-lg form-submit"
            type="submit">
            Submit
        </button>
    </form>
    
      

{% endblock %}