{% extends 'layout.html' %}

{% block title %}
    World Lakes
{% endblock %}

{% block content %}
    <h2>World Lakes</h2>

    <form method="get" id="searchForm">
        <input 
            type="text" 
            name="q" 
            placeholder="Search lakes..." 
            value="{{ query }}" 
            hx-get="{% url 'lakes:list' %}"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#tableContainer"
            hx-push-url="true">
    </form>
    <div id="tableContainer">
        {% include "lakes/partials/lake_table.html" %}
    </div>
{% endblock %}