{% extends 'layout.html' %}

{% block title %}
    World Lakes
{% endblock %}

{% block content %}

    {# Search bar with HTMX live search #}
    <form 
        method="get" 
        id="searchForm"
        class="mx-auto w-75 my-3">
        <input 
            class="form-control search-input"
            type="text" 
            name="q" 
            placeholder="Search lakes..." 
            value="{{ query }}" 
            hx-get="{% url 'lakes:list' %}"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#tableContainer"
            hx-push-url="true">
    </form>

    {# Container for lake table; targeted by HTMX for dynamic pagination/search updates #}
    <div id="tableContainer">
        {% include "lakes/partials/lake_table.html" %}
    </div>
{% endblock %}