* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
    
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
    padding: 1rem;
}

section{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: max-content;
    margin: auto;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #c49c6f;

}

a:hover {
    opacity: .85;
}


.tg  {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    background-color:#9ba5af;
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
    color:#444;
    font-family:Arial, sans-serif;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    background-color:#0f4988;
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-0lax{
    text-align:left;
    vertical-align:top
}

.pagination-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 1rem;
} 

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(22, 201, 255);
    color: white;
    text-align: center;
}

.form-submit {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;  
    padding: 0.5rem;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.form-submit:hover {
    opacity: .85;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 30%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    opacity: .85;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
